/* _content/CompanyApp.Components.Chiefdom.Dashboards/Component1.razor.rz.scp.css */
.my-component[b-lp7ylyx2ke] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
